<html>
<head>
<title>Get Results</title>
</head>
<body>
  <center>
    <H2 align="center">Sir Chhotu Ram Institue Of Engineering and Technology </H2>
    <h3 align="center"> CCS Uninversity , Meerut </h3>
<!-- 	<IMG src="img.JPG"/> -->
	<IMG src="{{ MEDIA_URL }}images/logo.png"/>
    </center>
<!---  <img id="banner" src="{{ MEDIA_URL }}images/banners/?"width="359" height="100" alt="" /> -->


<div align="center" stule>
<b><a href="/first">First Year</a></b>
<b><a href="/second">Second Year</a></b>
<b><a href="/third">Third Year</a></b>
<b><a href="/fourth">Fourth Year</a></b>
</div>


</body>

</html>
